





<div id="body-div" class="layui-card" style="text-align: center;">
  <div class="layui-card-header" style="height: auto">
    <span id="titleId" style="font-family: sans-serif;font-weight:bold;font-size:20px;">{{title}}</span>
  </div>

  <!--<div style="height:70%">
    <div style="width: 50%" >
      <span id="questionId" style="font-family: sans-serif;font-weight:bold;font-size:14px;">{{question}}</span>
    </div>
      <img src="{{pictrueUrl}}" style="width: 50%;float: right">
  </div>-->

  <div style="" class="layui-card-body">
    <div style="display: inline;width: 50%" >
      <span id="questionId" style="margin: auto;font-family: sans-serif;font-weight:bold;font-size:15px;">{{question}}</span>
    </div>
    <div style="display: inline;width: 50%" >
      <img src="{{pictrueUrl}}" style="width: 50%;">
    </div>
  </div>
  <div style="margin-top: 30px">
    <button class="layui-btn layui-btn-lg layui-btn-normal" style="margin-right: 70px" id="okButton" (click)="okButtonClick()">{{mainConfig.leftButtonText}}</button>
    <button class="layui-btn layui-btn-lg layui-btn-danger" (click)="noButtonClick()" id="noButton">{{mainConfig.rightButtonText}}</button>
  </div>
</div>





<div id="dzh-desc" class="layui-card" style="display: none">
  <div class="layui-card-header">定制化说明</div>
  <div class="layui-card-body">
  点击按钮去自定义一个
    <button  class="layui-btn"
             [routerLink]="['/config/add']">DIY</button>


    <!--1.将上面的红色中文 替换成自己想要的文字就可以了,第一个为男生版本，第二个为女生版本,有细微不同<br><br>-->
    <!--2.不会的尽量自己尝试一下吧,<span style="color: red">定制版的不会有&lt;!&ndash;()&ndash;&gt;(求赞)广告和底部的说明</span><br>-->
    <!--3.还是不会的可以 最右 上私信我(没回的话可能忘了,可以多私信几个).还有请给个赞.将酱紫<br>-->
    <!--4.有好的建议也可以私信我呀-->
    <!--最右点赞地址：https://share.izuiyou.com/detail/54628372?zy_to=applink&to=applink-->
  </div>
</div>

