





<body style="background-color: #2E2D3C;">
<div id="body-div" class="layui-card layui-row layui-col-space15" style="text-align: center;">
  <div class="layui-col-md12 layui-card-header" style="height: auto">
    <span id="titleId" style="font-family: sans-serif;font-weight:bold;font-size:20px;">**************************</span>
  </div>
  <div style="">
    <div style="display: inline;width: 50%" >
      <span id="questionId" style="margin: auto;font-family: sans-serif;font-weight:bold;font-size:14px;">要不要一起去漫展啊?</span>
    </div>
    <div style="display: inline;width: 50%" >
      <!--<img src="image/a.jpg" style="width: 50%;">-->
      <img src="/assets/img/a.jpg" style="width: 50%;">
    </div>
  </div>
  <div style="">
    <button class="layui-btn  layui-btn-lg layui-btn-warm" id="okButton" style="height: 100px;width: 200px" onclick="okButtonClick()">好好</button>
    <button class="layui-btn layui-btn-danger" onclick="noButtonClick()" id="noButton">不好</button>
  </div>
</div>
</body>
