


<div class="layui-card" style="text-align: center">
  <div class="layui-card-body" style="text-align: left">
    <span style="font-weight:bold">我喜欢吃什么????</span>(提示：别想了没有提示)<br>
    请从下面选项中选择：
  </div>
  <div style="margin-top: 50px">
    <button class="layui-btn-sm layui-btn " (click)="question2sure()">香蕉</button>
    <button class=" layui-btn layui-btn-primary" (click)="question2sure()">苹果</button>
    <button class="layui-btn-sm layui-btn " (click)="question2sure()">痴心妄想</button>
    <button class="layui-btn-lg layui-btn layui-btn-normal" (click)="question2sure()">芒果</button>
    <button class="layui-btn-sm layui-btn layui-btn-warm" (click)="question2sure()">荔枝</button>
    <button class="layui-btn-radius layui-btn " (click)="question2sure()">肉</button>
  </div>
</div>

